body
{
	position: absolute;
	color: black;
	background: white;
	font-family: sans-serif;
	padding: 0px;
	margin: 0px;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

p
{
	margin: .5em 0px 0px;
	padding: 0px;
	text-align: justify;
}

div
{
	margin: 0px;
	padding: 0px;
	text-align: left;
}

a
{
	color: #0f0f2f;
	font-weight: normal;
	font-style: normal;
	text-decoration: underline;
}

a:hover
{
	background: #dfdfdf;
}

object
{
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

table
{
	border-collapse: collapse;
	border-spacing: 0px;
}

h1
{
	display: block;
	font-size: 160%;
	font-weight: bold;
	margin: 2em 0px .5em;
}

h2
{
	display: block;
	font-size: 120%;
	font-weight: bold;
	margin: 1.5em 0px 1em;
}

h3
{
	display: block;
	font-weight: bold;
	margin: 1em 0px .5em;
}

h4
{
	display: block;
	font-weight: bold;
	font-style: italic;
	margin: 1em 0px 0px;
}

h1:first-child
{
	margin-top: 0px;
}

ul, ol, dl
{
	margin: .5em 0px .5em 4ex;
	padding: 0px;
}

ul li
{
	list-style-type: square;
}

ol li
{
	list-style-type: decimal;
}

ul ul
{
	margin-top: .3em;
	margin-bottom: .3em;
}

ul ul li
{
	list-style-type: disc;
}

dt
{
	margin: 1em 0px 0px -2ex;
}

dt:before
{
	display: inline-block;
	width: 2ex;
	text-align: left;
	content: "◾";
}

dd
{
	margin: .3em 0px .3em 3ex
}

li + li
{
	margin-top: .3em;
}

li > br, dd > br
{
	margin-bottom: .2em;
}


.header, .footer
{
	margin: 0px;
	padding: 0px;
}

.footer
{
	font-size: 80%;
}

.header a, .footer a
{
	color: var(--frame-foreground, #dfdfdf);
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}

.header a:hover, .footer a:hover
{
	color: var(--frame-hightlight, #ffffff);
	background: inherit;
}

.header td, .footer td
{
	color: var(--frame-foreground, #dfdfdf);
	background: var(--frame-background, #1f1f7f);
	vertical-align: middle;
	white-space: nowrap;
	padding: 1ex;
}

.header .left
{
	text-align: center;
	font-size: 60%;
	font-weight: bold;
}

.header .left object, .header .left img
{
	height: 2em;
}

.header .center
{
	text-align: left;
	width: 100%;
	max-width: 1em;
	overflow: hidden;
	font-weight: bold;
}

.header .right, .footer .right
{
	text-align: right;
}

.footer .left
{
	text-align: left;
	width: 100%;
}

.header form
{
	display: block;
	font-size: 80%;
	position: fixed;
	right: 0px;
	top: 0px;
	background: var(--frame-background, #1f1f7f);
	padding: 1ex .5ex 1ex 1ex;
	border-radius: 0px 0px 0px 1.5ex;
	z-index: 31;
}

.header a
{
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	color: var(--frame-decoration, white);
	border: 1px solid var(--frame-decoration, white);
	border-radius: 1ex;
	padding: .1em 1ex 0px;
	height: 1.5em;
}

.header select
{
	display: inline-block;
	font-family: inherit;
	font-size: 100%;
	color: var(--frame-decoration, white);
	background: var(--frame-background, #1f1f7f);
	border: 1px solid var(--frame-decoration, white);
	border-radius: 1ex 0px 0px 1ex;
	padding: 0px 1ex;
	max-width: 10em;
	height: 1.5em;
}

.header input
{
	display: inline-block;
	font-family: inherit;
	font-size: 100%;
	color: var(--frame-input, black);
	background: var(--frame-decoration, white);
	border: none;
	margin-left: .5ex;
	padding: 0px 1ex;
	width: 8em;
	height: 1.5em;
}

.header button
{
	display: inline-block;
	font-family: inherit;
	font-size: 100%;
	color: var(--frame-decoration, white);
	background: transparent;
	border: 1px solid var(--frame-decoration, white);
	border-radius: 0px 1ex 1ex 0px;
	margin: 0px 0px 0px .5ex;
	padding: 0px 1ex;
	height: 1.5em;
}

.header a:hover, .header button:hover
{
	color: var(--frame-background, #1f1f7f);
	background: var(--frame-decoration, white);
}



.content
{
	margin: 0px;
	padding: 1em;
	min-height: calc(100% - 6em);
}

.content table
{
	margin: .5em 0px 1em 3ex;
}

.content th
{
	border: none;
	padding: .5ex;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

.content tbody > tr > td
{
	border: 1px solid #bfbfbf;
	padding: .5ex;
	text-align: left;
	vertical-align: top;
}

.content tbody > tr > td.bl
{
	border-left: 1px solid #3f3f3f;
}

.content tbody > tr > td.br
{
	border-right: 1px solid #3f3f3f;
}

.content tbody > tr > td.bb, .content tbody > tr > th.bb
{
	border-bottom: 1px solid #3f3f3f;
}

.content tbody > tr > td.num
{
	text-align: "." center;
}

.content tfoot > tr > td
{
	font-size: 80%;
	padding-top: 0px;
}

.content tfoot > tr:first-child > td
{
	padding-top: 1ex;
}

.content > pre
{
	margin-left: 2ex;
	margin-right: 2ex;
	overflow-x: auto;
}



.unknown
{
	background: #ffffdf;
}

.unknown > i:first-child
{
	font-weight: bold;
	color: red;
}

.indent
{
	margin-left: 4ex;
	margin-right: 4ex;
}



.labels
{
	float: right;
	max-width: 50%;
	text-align: right;
}

.labels > span
{
	display: inline-block;
	margin: 0 0 1ex 2ex;
	padding: .5ex 2ex;
	border-radius: 1ex;
	color: var(--label-foreground, black);
	background: var(--label-background, #dfdfdf);
	font-size: 80%;
	text-align: center;
	white-space: nowrap;
}

.labels .red
{
	color: var(--label-red, #7f0000);
}

.labels .green
{
	color: var(--label-green, #004f00);
}



.toc
{
	font-size: 90%;
}

.toc ul
{
	display: block;
	margin: 0px;
	padding: 0px;
}

.toc ul ul
{
	margin: 0px 2ex;
	padding: 0px;
}

.toc li
{
	display: block;
	margin: 0px;
	padding: 0px;
}

.toc > ul > li
{
	font-weight: bold;
}

.toc > ul > li + li
{
	margin-top: 1ex;
}

.toc ul ul
{
	font-weight: normal;
}

.toc > ul > li > ul > li
{
	margin-top: .5ex;
}

.toc a
{
	color: black;
	font-style: normal;
	text-decoration: none;
}



.toc-float
{
	display: block;
	font-size: 80%;
	position: fixed;
	box-sizing: border-box;
	left: 0px;
	top: 0px;
	max-width: 1.5ex;
	max-height: 100%;
	color: var(--frame-foreground, #dfdfdf);
	background: var(--frame-background, #1f1f7f);
	padding: 1ex .7ex 1ex .3ex;
	border-radius: 0px 0px 1.5ex 0px;
	cursor: default;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	direction: rtl;
	white-space: nowrap;
	transition: opacity 1s, max-width .3s linear;
}

.toc-float > div
{
	direction: ltr;
}

.toc-float a
{
	color: var(--frame-foreground, #dfdfdf);
}

.toc-float a:hover
{
	background: inherit;
}



.sresult
{
	margin: 0px 0px .5ex 4ex;
	text-indent: -4ex;
}

.sresult b
{
	background: #ffff7f;
}


div.browser
{
	margin: 1ex 1ex 2em;
	padding: 1ex;
	border: 1px solid var(--frame-background, #1f1f7f);
	border-radius: 1ex;
	text-align: center;
}

.browser li
{
	margin-top: .4em;
	line-height: 1.4em;
}


/* Syntax highlighting */

.keyword, .k      { color: #00005f; font-weight: bold; }
.type             { color: #2f3f4f; }
.classname        { color: #2f3f4f; }
.variable, .i     { color: #001f1f; }
.string, .h, .hh, .q, .v
                  { color: #c27f00; }
.regexp           { color: #00af00; }
.specialchar      { color: #c27f00; }
.comment, .c      { color: #df2f2f; font-style: italic; }
.pod, .pd         { color: #6275f3; font-style: italic; }
.number, .n       { color: #007f00; }
.preproc          { color: #0066aa; }
.symbol, .cm, .co, .p, .pu, .s, .sc
                  { color: #3f0000; }
.function         { color: #5f5f6f; font-weight: bold; }
.cbracket         { }
.url              { color: #0000af; text-decoration: underline; }
.date             { color: #c27f00; }
.time             { color: #c27f00; }
.file             { color: #c27f00; }
.selector         { color: #b600a4; }
.property         { color: #0e00b1; }
.value            { color: #001f1f; font-style: italic; }
.ip               { color: #007f00; }
.name             { color: #c27f00; }
.italics          {                 font-style: italic; }
.bold             { color: #4f4f4f; font-weight: bold; }
.underline        {                 text-decoration: underline; }
.fixed            { }
.argument         { }
.optionalargument { }
.math             { color: #00af00; }
.bibtex           { color: #c27f00; font-style: italic; }
.oldfile          { color: #004f00; font-weight: bold; }
.newfile          { color: #00007f; font-weight: bold; }
.difflines        { color: #6f0000; }
